/* общие стили */
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container{
  width: 1140px;
  margin: 0 auto;
}
/* стили хедера */
.header-top{
  border-bottom: 1px solid #DEDEDE;
}
.header-top-info{
  display: flex;
justify-content:space-between;
height: 67px;
align-items: center;
}
.top-menu{
  display: flex;
  width: 945px;
  justify-content: space-between; 
} 
.top-menu-left,.top-menu-right{
  display: flex;
  justify-content: space-between;
}
.top-menu-left a,.top-menu-right a{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
}
.top-menu-left{
  width: 352px;
}
.top-menu-right{
  width: 340px;
}
.main-menu{
  display: flex;
  justify-content: space-between;
  height: 73px;
  align-items: center;
}
.menu-bottom{
  width: 1136px;
  display: flex;
  justify-content: space-between;
}
.header-bottom{
  border-bottom: 1px solid #DEDEDE;
}
/* <!-- банер --> */

.banner{
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.baner-info{
  display: flex;
}
}
.baner-info{  
  display: flex;
 height: 400px;
  align-items: center;
  justify-content: space-between;
}
.baner-menu-left{
  width: 427px;
  height: 232px;
  position: relative;top: 83px;
}
.baner-info-top-up{
  justify-content:space-between;
  align-items: center;
  font-size: 52px;
}
.menu-baner-bottom{
  width: 427px;
  height: 118px;
}
.menu-baner{
  display: flex;
  width: 427px;
  height: 55px;
  justify-content: space-around;
  align-items: center;
  position: relative;top: 63px;
}
.pig{
position: relative; left: 170px;
}

 /* Оффер  */
 .offer{
  height: 830px;
  position: relative;top: 70px;
}
 
}
.offer-midle{
height: 300px;
position: relative;top: 168px;
position: relative;bottom: 362px;
}
.offer-m-l{
  display: flex;
  position: absolute;
width: 555px;
height: 300px;
left: 0px;
top: 168px;
background: #EFF2F5;
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}
.best-offer-top-nav{
  justify-content:space-between;
  align-items: center;
}
.nav-offer-top-nav-up{
  font-size: 26px;
  justify-content:space-between;
  align-items: center;
  position: absolute;
  width: 201px;
  height: 68px;
  left: 34px;
  top: 34px;
}
.nav-offer-top-nav-up a {
  text-decoration: none;
}
.best-usloviya{
  position: absolute;
width: 255px;
height: 46px;
left: 34px;
top: 126px;
font-size: 18px;
}
.pig-ippoteka{
  padding-left: 293px;
}
.offer-m-r{
  display: flex;
  position: absolute;
width: 555px;
height: 300px;
left: 585px;
top: 168px;
background: #EFF2F5;
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}
.scheta{
  justify-content:space-between;
  align-items: center;
}
.nakop-scheta{
  position: absolute;
width: 223px;
height: 68px;
left: 34px;
top: 34px;
font-size: 26px;
}
.nakop-scheta a{
  text-decoration: none;
}
.stavki-7{
  position: absolute;
width: 214px;
height: 46px;
left: 34px;
top: 126px;
font-size: 18px;
}
.img-kartinka-svinka{
  padding-left: 293px;
}
.offer-ander{
  height: 300px;
  position: relative;top: 444px;
  position: relative;bottom: 0px;
}
.offer-a-l{
  display: flex;
position: absolute;
width: 555px;
height: 300px;
left: 0px;
background: #EFF2F5;
box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
border-radius: 8px;
}
.personal{
  justify-content:space-between;
  align-items: center;
}
.personal-kard{
  position: absolute;
width: 210px;
height: 68px;
left: 34px;
top: 34px;
font-size: 26px;
}
.personal-kard a{
  text-decoration: none;
}
.karda-disayn{
  position: absolute;
width: 243px;
height: 69px;
left: 34px;
top: 126px;
font-size: 18px;
}
.img-personal-karty{
  padding-left: 293px;
}
.offer-a-r{
  display: flex;
  position: absolute;
  width: 555px;
  height: 300px;
  left: 585px;
  background: #EFF2F5;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  }
  .offer-a-r-nav{
    justify-content:space-between;
  align-items: center;
  }
.partner-prog{
  position: absolute;
width: 186px;
height: 68px;
left: 34px;
top: 34px;
font-size: 26px;
}
.best-usloviya{
  position: absolute;
width: 178px;
height: 69px;
left: 34px;
top: 126px;
font-size: 18px;
}
.img-partner-programmi{
    padding-left: 293px;
  }
 
  /* блок карт */
  .block-kart{
    background: #EFF2F5;
    height: 775px;
    position: relative;top: 110px;
  }
  .info-kart{
    
    position: relative;top: 137px;
    width: 750px;
    height: 500px;
    background: #E0E5EA;
box-shadow: -5px -5px 25px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.1);
border-radius: 8px;
  }
  .string-kr-kart{
    position: absolute;
width: 346px;
height: 147px;
left: 99px;
top: 34px;
font-size: 38px;
  }
  .img-karta-60-dney{
    padding-left: 488px;
  }

  .top-karta{

  }
  .o-karte-top{
    position: relative;top: 10.35px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
  }
  .info-kart-and{
    
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
  }
  