body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.conteiner {
  width: 1920px;
  height: 1410px;
  margin: 0 auto;
}

ul {
  background-color: brown;
  margin: 0px;
  padding: 0;
  list-style: none;
}

header {
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.img_logo {
  position: absolute;
  left: 389.82px;
  right: 1497.48px;
  top: 24.1px;
}
.img_flowers {
  position: absolute;
  left: 431.28px;
  right: 1390.49px;
  top: 24.61px;
  bottom: 1353.78px;
}
.telephon {
  position: absolute;
  width: 154px;
  height: 22px;
  left: 1378px;
  top: 27px;
  font-size: 18px;
  line-height: 22px;
}
section {
  margin: 0px;
  padding: 0;
}
.heading {
  text-align: center;
  align-items: center;
  position: absolute;
  width: 336px;
  height: 49px;
  left: 792px;
  top: 143px;
  font-size: 40px;
  line-height: 49px;
  font-style: normal;
}
.quote {
  position: absolute;
  text-align: center;
  width: 1162px;
  height: 81px;
  left: 381px;
  top: 707px;
  font-size: 32px;

  color: #ff445a;
  font-style: italic;
}

.main-menu-list {
  list-style: none;
  display: flex;
  background-color: brown;
}
.best_bouquets {
  width: 130px;
  height: 49px;
  left: 792px;
  top: 143px;
}
.bouquet_joy {
  position: absolute;
  width: 153px;
  height: 22px;
  left: 494px;
  top: 428px;
  font-size: 18px;
  line-height: 22px;
}
.bouquet_happiness {
  position: absolute;
  width: 153px;
  height: 22px;
  left: 884px;
  top: 428px;
  font-size: 18px;
  line-height: 22px;
}
.bouquet_party {
  position: absolute;
  width: 183px;
  height: 22px;
  left: 1261px;
  top: 428px;
  font-size: 18px;
  line-height: 22px;
}

.img_romashka {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 495px;
  top: 255px;
}
.tulpan {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 885px;
  top: 255px;
}
.pink-cosmos {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 1277px;
  top: 255px;
}
.description_joy {
  position: absolute;
  text-align: center;
  width: 196px;
  height: 66px;
  left: 472px;
  top: 460px;
  font-size: 16px;
}
.description_happiness {
  position: absolute;
  text-align: center;
  width: 196px;
  height: 66px;
  left: 862px;
  top: 460px;
  font-size: 16px;
}
.description_party {
  position: absolute;
  text-align: center;
  width: 196px;
  height: 66px;
  left: 1254px;
  top: 460px;
  font-size: 16px;
}
.line1 {
  position: absolute;
  width: 1137.5px;
  height: 0px;
  left: 392px;
  top: 606px;

  border: 1px solid #ffb5b5;
}
.line2 {
  position: absolute;
  width: 1137.5px;
  height: 0px;
  left: 392px;
  top: 889px;
  border: 1px solid #ffb5b5;
}
.poem {
  position: absolute;

  width: 555px;
  height: 265px;
  left: 488px;
  top: 977px;
  font-style: normal;
  font-size: 18px;
  text-align: left;
}
.buket {
  position: absolute;
  width: 244px;
  height: 282px;
  left: 1155px;
  top: 968px;
}

footer {
  position: absolute;
  top: 1330px;
  left: 0;
  bottom: 0;
  width: 1920px;
  height: 80px;
  background-color: #ffb5b5;
}
.Flower-2005-2021 {
  font-style: normal;
  position: absolute;
  width: 169px;
  top: 27px;
  left: 876px;
  font-size: 15px;
  color: #ffffff;
}
