body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
.conteiner {
  width: 1920px;
  height: 1410px;
  margin: 0 auto;
}
ul {
  background-color: brown;
  margin: 0px;
  padding: 0;
  list-style: none;
}
header {
  /*  шапка сайта лого,контакт */
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
.img_logo {
  position: absolute;
  left: 389.82px;
  right: 1497.48px;
  top: 24.1px;
}
.img_flowers {
  left: 431.28px;
  right: 1390.49px;
  top: 24.61px;
  bottom: 1353.78px;
}
.kontakt {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  width: 154px;
  height: 22px;
  left: 1378px;
  top: 27px;
  font-size: 18px;
  line-height: 22px;
}
section {
  /* заголовок,высказывание */
  margin: 0px;
  padding: 0;
}
.heading {
  text-align: center;
  align-items: center;
  position: absolute;
  width: 336px;
  height: 49px;
  left: 792px;
  top: 143px;
  font-size: 40px;
  line-height: 49px;
}
.quote {
  font-style: italic;
  position: absolute;
  text-align: center;
  width: 1162px;
  height: 81px;
  left: 381px;
  top: 707px;
  line-height: 150%;
  font-size: 32px;
  color: #ff445a;
}

.main-menu-list {
  /* фотографии в навигациии,ссылки,описание букета */
  list-style: none;
  display: flex;
  background-color: brown;
}
.best_bouquets {
  width: 130px;
  height: 49px;
  left: 792px;
  top: 143px;
}
.bouquet_joy {
  /* объединение классов  */
  position: absolute;
  font-weight: 600;
  width: 153px;
  height: 22px;
  left: 494px;
  top: 428px;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}
.bouquet_happiness {
  left: 884px;
}
.bouquet_party {
  width: 183px;
  left: 1261px;
}
.img_romashka {
  /* фотографии в навигациии c объединением классов  */
  position: absolute;
  width: 150px;
  height: 150px;
  left: 495px;
  top: 255px;
}
.img_tulpan {
  left: 885px;
}
.img_pink {
  left: 1277px;
}
.description_joy {
  /* описание букета c объединением классов */
  position: absolute;
  text-align: center;

  width: 196px;
  height: 66px;
  left: 472px;
  top: 460px;
  line-height: 140%;
  font-size: 16px;
}
.description_happiness {
  left: 862px;
}
.description_party {
  left: 1254px;
}
.line1 {
  /* вектор горизонтальный c объединением классов*/
  position: absolute;
  width: 1137.5px;
  height: 0px;
  left: 392px;
  top: 606px;
  border: 1px solid #ffb5b5;
}
.line2 {
  top: 889px;
}
.poem {
  /* поэма */
  position: absolute;
  width: 555px;
  height: 265px;
  left: 488px;
  top: 977px;
  line-height: 150%;
  font-size: 18px;
  text-align: left;
  color: rgba(66, 66, 66, 1);
}
.buket {
  /* фотография букета  */
  position: absolute;
  width: 244px;
  height: 282px;
  left: 1155px;
  top: 968px;
}
footer {
  /*  подвал */
  position: absolute;
  top: 1330px;
  left: 0;
  bottom: 0;
  width: 1920px;
  height: 80px;
  background-color: #ffb5b5;
}
.Flower-2005-2021 {
  font-style: normal;
  position: absolute;
  width: 169px;
  top: 27px;
  left: 876px;
  line-height: 150%;
  font-size: 18px;
  color: #ffffff;
}
