

body{
    margin: 0px;
    padding: 0px;
}
#headUp{
    background-color:#DDDDDD;
    height: 20px;
}
#headName{
    background-color:#EEEEEE;
    height: 50px;
    display: flex;
}
#hederNaSl{
    margin: 0 auto;
    width: 1100px;
    align-items:baseline;
    justify-content: space-around;
}
#name{
    color: #C60304;
    font-size: 40px;
    float: left;
}
#slogan{
    color: #C60304;
    align-items: center;
    float: right;
    line-height: 50px;
}
#headMenu{
    background-color:#C60304;
    
}
#menu{               /*Уводим менюшку к центру*/
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
#headMenu
ul{ display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
   
}
#headMenu
li{
    font-size: 20px;
    line-height: 50px;
    margin: 0 20px;
    color:white;

}
#bottomMenu{
    background-color:#EEEEEE;
    display: flex;
}
#botMen{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}
.leftBottomMenu
ul{
    display: flex;
    margin: 0;
    list-style-type: none;
    padding-right:20px ;
    line-height: 50px;
    float: left;
    
}
.leftBottomMenu
li{
    line-height: 50px;
    margin: 0 20px;
    color:grey;
}
#rightBottomMenu{
    float: right;
    margin: 0 auto;
    line-height: 50px;
    color:grey;

}
#headMenu a{
    display: block;
}
#headMenu a:link,#headMenu a:visited{
      text-decoration: none;
      color:blanchedalmond;
  }  
  #headMenu a:hover{
    text-decoration: none;
    background-color:brown;
  }
  #headMenu a:hover,#headMenu a.aktive  {
    background-color:brown;
  }

  #botMen a:link,#botMen a:visited{
      color:grey;
  }
  #botMen a:hover{
      text-decoration: none;
  }
  #content{
      margin: 0 auto;
      width: 1100px;
  }
  #leftBlock{
      float: left;
   width:550px;   
   margin: 10px 0;
   text-align: justify;
  }
  img{
      width: 100%;
  }
  #leftBlock 
  p{
      font-size: 14px;
      font-weight: 100;
  }
#leftBlock 
h1,h2,h3{
    font-size: 25px;
}
#midleBlock,#rightBlock
p{
    font-weight: 100;
    font-size: 12px;
}
#midleBlock
h1{
    font-size: 20px;
}
#midleBlock{
    float: left;
    width: 250px;
    margin: 10px 0;
    text-align: justify;
    padding-left: 25px;
}
#rightBlock
h1,h2{
    font-size: 20px;  
}
#rightBlock{
float: right;
margin: 10px 0;
width: 250px;
text-align: justify;
}
#footter{
    margin-bottom: 0;
    background-color:gray;
    height: 300px;
    
}
.fix{
    clear: both;
}
#footter{
    margin-bottom: 0;
    background-color:gray;
    
    
}
.fix{
    clear: both;
}
#footCont{
    display: flex;
    width: 1100px;
    margin: 0 auto;
}
#footNav{
    margin-bottom: 0;
width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#footNav
li{    
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 20px;
    color:rgb(43, 43, 43);
    
}
#footNav
ul{
    margin: 0;
    padding: 0px;
}
#footNav a:link,#footNav a:visited{
  text-decoration: none;  
  color:rgb(43, 43, 43);
}
#footNav a:hover{
    text-decoration: underline;
    color:rgb(43, 43, 43);
}
#rightCont{
    padding-left: 25px;
    width: 900px;
    float: left;
    text-align: center;
    margin: 20px;
}
#rightCont
h1{
    font-size: 20px;
}
#rightCont
p{
    font-size: 12px;
    
}